{
	"output_csv": "output/results.csv",
	"cache_sizes": [0.1, 1, 10, 15, 50, 100, 500, 1000, 5000, 100000],
	"traces": ["home2sample.blkparse"],
	"request_count_type": "reuse",

	"algorithms": ["cacheus", "arc"],

    "cacheus_but_cool": {
		"learning_rate": [0.1]
	},

	"arc": {
	    "learning_rate": [0.1]
	}
}