{
	"cache_sizes": [100],
	"traces": ["home1sample.blkparse"],
	"request_count_type": "unique",

	"algorithms": ["lru", "arc", "lecar", "lecar_new"],

	"lecar": {
		"learning_rate": 0.5
	},

	"lecar_new": {
		"learning_rate": 0.5
	},

	"graphs": {
		"hit-rate": [
		{
			"algorithms": ["lecar_new", "lecar"],
			"labels": ["hit-rate"],
			"ylabel": "hit-rate",
			"xlabel": "requests",
			"show_xticks": true
		}]
	}
}