{
	"cache_sizes": [100, 200, 500],
	"traces": ["home1sample.blkparse"],
	"request_count_type": "unique",

	"algorithms": ["arc", "arcalecar", "cacheus_old", "dlirs", "lecar"],

	"arc": {
		"learning_rate": 0.5
	},

	"arcalecar": {
		"learning_rate": 0.5
	},

    "dlirs": {
		"learning_rate": 0.5
	},

	"lecar": {
		"learning_rate": 0.5
	},

	"cacheus_old": {
		"learning_rate": 0.5
	},

	"graphs": {
		"hit-rate": [
		{
			"algorithms": ["alecar6", "alecar6", "arc", "arcalecar", "cacheus_old", "dlirs", "lecar"],
			"labels": ["hit-rate"],
			"ylabel": "hit-rate",
			"show_xticks": false
		}]
	}
}